SERVICE_NAME=microservice-name
PORT=3000
LOG_LEVEL=info
MSSQL_SA_PASSWORD=YourStrong!Passw0rd
DATABASE_URL="sqlserver://sa:YourStrong!Passw0rd@localhost:1433;database=microservice_db;encrypt=true;trustServerCertificate=true"
