SERVICE_NAME=microservice-name
PORT=3000
LOG_LEVEL=info
MSSQL_SA_PASSWORD=YourStrongPassw0rd
MSSQL_DB_NAME=microservice_db
DATABASE_URL=sqlserver://localhost:1433;database=microservice_db;user=sa;password=YourStrongPassw0rd;encrypt=true;trustServerCertificate=true
DATABASE_URL_DOCKER=sqlserver://sqlserver:1433;database=microservice_db;user=sa;password=YourStrongPassw0rd;encrypt=false;trustServerCertificate=true
